header {
    background-color: lightblue;
    padding: 1.5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

nav {
    display: flex;
}
.logo {
    flex: 0.5;
}
.container {
    display: flex;
    gap: 2rem;
}
